<%= render "menubar" %>

<body class="mx-auto container">

<h1><strong>All Distilleries</strong></h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Distillery</th>
      <th scope="col">Address</th>
      <th scope="col">Region</th>
      <th scope="col">Tours</th>
      <th scope="col">Website</th>
    </tr>
  </thead>

  <tbody>
  <% @distilleries = @distilleries.map.sort_by(&:name) %>
    <% @distilleries.each do |d| %>
      <tr>
        <td scope="row"><%= link_to d.name, d %></td>
        <td><address><%= d.street_address %>, <%= d.city %>, NC <%= d.zip %></address></td>
        <td><%= link_to Region.find(d.region_id).region, Region.find(d.region_id) %></td>
        <% if d.tours == true %>
          <% if d.tour_cost.to_i > 0 %>
            <td>Tour cost: $<%= d.tour_cost %></td>
          <% else %> 
            <td>Tour cost: Free!</td>
          <% end %>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= link_to d.website, "http://#{d.website}", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>

</table>

</body>