<%= render 'menubar' %>

<body class="mx-auto container">
  <u><%= link_to '< Back', distilleries_path %></u>
  <br>
  <br>

  <h3>
    <%= @distillery.name %>
  </h3>
  
  <p>
    <strong>Address:</strong>
    <br>
    <%= @distillery.street_address %>
    <br>
    <%= @distillery.city %>, NC <%= @distillery.zip %>
  </p>
  
  <p>
    <strong>Region:</strong>
    <%= link_to Region.find(@distillery.region_id).region, Region.find(@distillery.region_id) %>
  </p>
  
  <p>
    <strong>Tours:</strong>
    <% if @distillery.tours == true %>
      Yes
      <br>

      <% if @distillery.tour_cost.to_i > 0 %>
        <strong>Cost:</strong> $<%= @distillery.tour_cost %>
      <% else %> 
        <strong>Cost:</strong> Free!
      <% end %>
    <% else %>
      Sadly, this distillery does not offer tours at this time.
    <% end %>
  </p>
  
  <p>
    <strong>Website:</strong>
    <%= link_to @distillery.website, "http://#{@distillery.website}", :target => '_blank' %>
  </p>
  

  <% if Spirit.all.where(distillery_id: @distillery.id).exists? %>
  <table class="table">
  <tr>
    <th>Spirit</th>
    <th>Category</th>
    <th>Strength</th>
  </tr>
  <tr>
    <% Spirit.all.where(distillery_id: @distillery.id).each do |s| %>
      <td><strong><%= link_to s.name, spirit_path(s) %></strong></td>
      <td><%= link_to SpiritType.find(s.spirit_type_id).category, SpiritType.find(s.spirit_type_id) %></td>
      <td><%= s.proof %></td>
    <% end %>
  </tr>
  </table>
  <% end %>

</body>